body{
    text-align: center;
    vertical-align: middle;
  }
#rgb{
    padding-top: 75px;
    margin: auto;
}
#r{
    font-size: 300px;
    display: inline-block;
    cursor: pointer;
	font-family: Fascinate Inline;
}
#g{
    font-size: 300px;
    display: inline-block;
    cursor: pointer;
	font-family: Fascinate Inline;
}
#b{
    font-size: 300px;
    display: inline-block;
    cursor: pointer;
	font-family: Fascinate Inline;
}

button{
    background: transparent;
    border: 0;
}


#r:hover + #rgb{
   background-color: red;
}

