@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');
:root {
    --fonttype:'Neucha', cursive;
}
body{
    text-align: center;
    vertical-align: middle;
  }
#rgb{
    padding-top: 75px;
    margin: auto;
}
#r{
    font-size: 300px;
    font-family: var(--fonttype);
    display: inline-block;
    cursor: pointer;
}
#g{
    font-size: 300px;
    font-family: var(--fonttype);
    display: inline-block;
    cursor: pointer;
}
#b{
    font-size: 300px;
    font-family: var(--fonttype);
    display: inline-block;
    cursor: pointer;
}

button{
    background: transparent;
    border: 0;
}


#r:hover + #rgb{
   background-color: red;
}

